langchain==0.3.25
langgraph==0.2.67
langchain-community==0.3.24

chromadb==0.5.5

sentence-transformers==3.0.1
transformers==4.44.2


ollama==0.3.1

tree-sitter==0.21.3
tree-sitter-rust==0.21.2

rich==13.8.0
tqdm==4.66.5
pyyaml==6.0.2
pydantic==2.8.2
numpy==1.26.4







